{% extends 'main.twig' %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="container m-auto">
            <div class="row card-panel">
                <form class="col s12" id="form" name="form" enctype="multipart/form-data">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <input name="title" id="first_name" type="text" class="validate" />
                            <label for="first_name">Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea name="description" id="textarea2" class="materialize-textarea validate" data-length="120"></textarea>
                            <label for="textarea2">Short description</label>
                        </div>
                      </div>
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>File</span>
                                <input type="file" name="image" />
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload one file" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="file-field input-field">
                            <button class="btn waves-effect waves-light" id="send-data" 
                            type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row" id="response"></div>
            <div id="load"></div>
        </div>
    </div>
</div>
<script src="./public/js/handler.js"></script>
{% endblock %}