{% extends 'main.twig' %}

{% block content %}
<br>
<div class="row center">
    <a href="/add" class="btn waves-effect blue darken-1 get-started">Get Started</a>
    <br><br><br><br>
    <div class="row">
        {% for post in context %}
        <div class="col m3 small">
            <div class="card">
                <a href="/api/{{ post.url }}" class="card-image waves-effect waves-block waves-light">
                    <img height="170" data-src="{{post.image}}" class="activator" src="https://i.imgur.com/fpAlWOZ.png">
                </a>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br><br>
<script>
    window.addEventListener('load', function () {
        for (let index = 0; index < document.images.length; index++) {
            let image = document.images[index];
            let downloadImage = new Image();

            downloadImage.onload = function () {
                image.src = this.src;
            }

            downloadImage.src = `./uploads/${image.dataset.src}`;
        }
    });
</script>
{% endblock %}