{% extends 'main.twig' %}

{% block content %}
<br>
<div class="row center">
    <a href="/add"
        class="btn-large waves-effect red accent-3">Add Image</a>
        {{ name }}
</div>
<br><br>
{% endblock %}